.section-bg-contact-us {
  background: linear-gradient(98.56deg, #f5f5f5 0%, #57ffbb 100%);
}

.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}

.contact-text__title {
  color: #000;
  margin: 0;
}

.contact-text__description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.022em;
  color: #2e2d2d;
}

.social-media__link {
  text-decoration: none;
}
.social-media__link:not(:first-child) {
  margin-left: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  padding: 35px;
}

.form__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.011em;
  color: #000000;
}

.form__title_bold {
  font-weight: 700;
}

.form__input {
  width: 433px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: #f5f5f5;
  padding-left: 10px;
  margin: 17px 0;
  outline-color: #57ffbb;
}

.form__btn {
  width: 155px;
  height: 45px;
  background: #57ffbc;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.032em;
  margin-top: 30px;
}
