.learn-more {
  padding: 70px 0;
}

.learn-more__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.learn-more__title_gradient {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  background: radial-gradient(
    54.12% 2446.16% at 54.12% 78.54%,
    #a3ffda 0%,
    #61bf99 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.learn-more__disc {
  text-align: center;
  letter-spacing: -0.032em;
  color: #fff;
  margin-bottom: 45px;
}

.learn-more__btn {
  display: block;
  width: 200px;
  height: 45px;
  border-radius: 5px;
  background: linear-gradient(96.78deg, #57ffbc 27.85%, #f1ffbb 91.16%);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400px;
  color: #000;
  text-align: center;
  line-height: 45px;
  margin: 0 auto;
}
