.order-demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0px;
}

.order-demo__title {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.022em;
  color: #fff;
  margin: 0;
}

.order-demo__title_gradient {
  background: linear-gradient(90.85deg, #f1ffbb 4.36%, #57ffbb 85.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.order-demo__disc {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.032em;
  color: #fff;
}

.order-demo__btn {
  display: block;
  text-align: center;
  width: 168px;
  height: 45px;
  background: linear-gradient(96.78deg, #57ffbc 27.85%, #f1ffbb 91.16%);
  border-radius: 3px;
  color: #000;
  line-height: 45px;
  font-size: 14px;
  text-decoration: none;
}

.order-demo__img {
  width: 500px;
}
