.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 0;
}

.services__item {
  width: 350px;
  height: 350px;
  background-color: #fff;
  border-radius: 5px;
}

.services__img {
  width: 310px;
  height: 200px;
}

.services__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: -0.022em;
  color: #1e1e1e;
}

.services__disc {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.011em;
  color: #727272;
}
