.values {
  padding: 70px 0;
}

.values__title {
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 50px;
}

.values__title_gradient {
  background: linear-gradient(90.34deg, #57ffbb 46.64%, #f1ffbb 92.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.values-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values-cards__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.022em;
  color: #ffffff;
}

.values-cards__disc {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.011em;
  color: #c2c2c2;
}
